<% @page_title = "Show Language" %>
<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<p class="navbar-text navbar-right"><%= link_to("Back to List", {:action => 'index'}, :class => 'back-link') %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Language - Show</div>
  <div class="panel-body">
    <%= link_to("Show Language", {:action => 'create'}, :class => 'action btn btn-success') %>
  </div>

  <!-- Table -->
  <table class="table">
    <tr class="header">
      <th>Language</th>
      <th>Difficulty</th>
      <th>Create Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
        <tr>
          <td><%= @language.name %></td>
          <td><%= @language.difficulty %></td>
          <td><%= fixDate(@language.created_at) %></td>
          <td><%= link_to("Edit", {:action => 'edit', :id => @language.id}, :class => 'action btn btn-warning') %></td>
          <td><%= link_to("Delete", {:action => 'delete', :id => @language.id}, :class => 'action btn btn-danger') %></td>
        </tr>
  </table>
</div>