<% @page_title = "Show Language" %>
<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<p class="navbar-text navbar-right"><%= link_to("Back to List", {:action => 'index'}, :class => 'back-link') %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Language - Show</div>
  <div class="panel-body">
  </div>

  <!-- Table -->
  <table class="table languages-table">
    <tr class="header">
      <th class="language">Language</th>
      <th class="difficulty">Difficulty</th>
      <th class="createDate">Create Date</th>
      <th class="editBtn">Edit</th>
      <th class="deleteBtn">Delete</th>
    </tr>
        <tr>
          <td class="language"><%= @language.name %></td>
          <td class="difficulty"><%= @language.difficulty %></td>
          <td class="createDate"><%= fixDate(@language.created_at) %></td>
          <td class="editBtn"><%= link_to("Edit", {:action => 'edit', :id => @language.id}, :class => 'action btn btn-warning') %></td>
          <td class="editBtn"><%= link_to("Delete", {:action => 'delete', :id => @language.id}, :class => 'action btn btn-danger') %></td>
        </tr>
  </table>
</div>