<% @page_title = "Edit Gist" %>

<p class="navbar-text navbar-right"><%= link_to("Back to List", {:action => 'index'}, :class => 'back-link') %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Gist - Update</div>
  <div class="panel-body">
    <div class="gist form update">
      <h2>Create Gist</h2><br/>

      <%= form_for(:gist, :url => {:action => 'update', :id => @gist.id}) do |f| %>
          <div class="form-group">
            <table summary="Gists form fields">
              <tr>
                <th><%= f.label(:snippet) %>:&nbsp;</th>
                <td><%= f.text_area(:snippet, :size => '40x10', :class => 'form-control') %></td>
              </tr>
              <tr>
                <th><%= f.label(:language_id, "Language") %>:&nbsp;</th>
                <td><%= f.select(:language_id, @languages.collect {|p| [p.name, p.id]}) %></td>
              </tr>
              <tr>
                <th><%= f.label(:description) %>:&nbsp;</th>
                <td><%= f.text_area(:description, :size => '40x5', :class => 'form-control') %></td>
              </tr>
              <tr>
                <th><%= label_tag(:summary) %> of changes:&nbsp;</th>
                <td><%= text_area(:summary, :size => '40x5', :class => 'form-control') %></td>
              </tr>
            </table>

            <br />
            <div class="form-buttons">
              <%= submit_tag("Update Gist", :class => 'btn btn-primary') %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>