<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Gists - List</div>
  <div class="panel-body">
    <%= link_to("Add new Gist", {:action => 'create'}, :class => 'action btn btn-success') %>
  </div>

  <!-- Table -->
  <table class="table">
    <tr class="header">
        <th>Snippet</th>
        <th>Language</th>
        <th>Description</th>
        <th>Last Modification</th>
        <th>Create Date</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <% @gists.each do |gist| %>
        <tr>
              <td><%= gist.snippet %></td>
              <td><%= gist.language ? gist.language.name : 'Empty' %></td>
              <td><%= gist.description %></td>
              <td><%= fixDate(gist.updated_at) %></td>
              <td><%= fixDate(gist.created_at) %></td>
              <td><%= link_to("Show", {:action => 'show', :id => gist.id}, :class => 'action btn btn-primary') %></td>
              <td><%= link_to("Edit", {:action => 'edit', :id => gist.id}, :class => 'action btn btn-warning') %></td>
              <td><%= link_to("Delete", {:action => 'delete', :id => gist.id}, :class => 'action btn btn-danger') %></td>
        </tr>
    <% end %>
  </table>
</div>