<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Gists - Search</div>
  <!-- Table -->
  <table class="table table-responsive gists">
    <tr class="header">
        <th class="description">Description</th>
        <th class="language">Language</th>
        <th class="modification">Last Modification</th>
        <th class="createDate">Create Date</th>
        <th class="showBtn">Show</th>
        <th class="editBtn">Edit</th>
        <th class="deleteBtn">Delete</th>
    </tr>
    <% @gists.each do |gist| %>
        <tr>
              <td class="description"><%= gist.description %></td>
              <td class="language"><%= gist.language ? gist.language.name : 'Empty' %></td>
              <td class="modification"><%= fixDate(gist.updated_at) %></td>
              <td class="createDate"><%= fixDate(gist.created_at) %></td>
              <td class="showBtn"><%= link_to("Show", {:action => 'show', :id => gist.id}, :class => 'action btn btn-primary') %></td>
              <td class="editBtn"><%= link_to("Edit", {:action => 'edit', :id => gist.id}, :class => 'action btn btn-warning') %></td>
              <td class="deleteBtn"><%= link_to("Delete", {:action => 'delete', :id => gist.id}, :class => 'action btn btn-danger') %></td>
        </tr>
    <% end %>
  </table>
</div>
<div class="pagination">
  <% if(@site - 1) > 0 %>
      <%= link_to("Previous", {:action => 'index', :id => (@site-1)}, :class => 'action btn btn-primary') %>
  <% else %>
    <%= link_to("Previous", {:action => 'index', :id => (@site-1)}, :class => 'action btn btn-primary disabled') %>
  <% end %>
  <% for x in 1..@siteAmount do %>
        <% if(x == @site) %>
            <%= link_to(x, {:action => 'index', :id => (x)}, :class => 'action btn btn-warning disabled', :id => x)  %>
        <% else %>
          <%= link_to(x, {:action => 'index', :id => (x)}, :class => 'action btn btn-primary', :id => x)  %>
        <% end %>
  <% end %>
  <% if(@site +1) <= @siteAmount %>
    <%= link_to("Next", {:action => 'index', :id => (@site+1)}, :class => 'action btn btn-primary') %>
  <% else %>
      <%= link_to("Next", {:action => 'index', :id => (@site+1)}, :class => 'action btn btn-primary disabled') %>
  <% end %>
</div>