<% @page_title = "Show Gist" %>

<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<p class="navbar-text navbar-right"><%= link_to("Back to List", {:action => 'index'}, :class => 'back-link') %></p>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Gist - Description</div>
  <div class="panel-body">
  </div>

  <!-- Table -->
  <table class="table">
    <tr class="header">
      <th>Snippet</th>
      <th>Language</th>
      <th>Description</th>
      <th>Show</th>
      <th>Delete</th>
    </tr>
        <tr>
          <% if !@gist.language && (Pygments.lexers.include? @gist.language.name) %>
          <td class="snippet"><%= @gist.snippet%></td>
          <% else %>
          <td class="snippet"><%= raw Pygments.highlight(@gist.snippet, lexer: @gist.language.name.downcase) %></td>
          <% end %>
          <td><%= @gist.language ? @gist.language.name : 'Empty' %></td>
          <td><%= @gist.description %></td>
          <td><%= link_to("Edit", {:action => 'edit', :id => @gist.id}, :class => 'action btn btn-warning') %></td>
          <td><%= link_to("Delete", {:action => 'delete', :id => @gist.id}, :class => 'action btn btn-danger') %></td>
        </tr>
  </table>
  <div class="panel-heading secondTable">Gist - Modifications</div>
  <table class="table">
        <tr>
          <th>Admin</th>
          <th>Modification Date</th>
          <th>Summary</th>
        </tr>
    <% if !@gist.gist_edits.empty? %>
            <% @gistEdits.each do |edit| %>
            <tr>
              <td><%= edit.user.username %></td>
              <td><%= fixDate(edit.created_at) %></td>
              <td><%= edit.summary %></td>
            </tr>
            <% end %>
        <% end %>
  </table>
</div>